.instructor-container {
	margin-top: 4em;
}
.instructor-container > h2,
.instructor-container > p {
	text-align: center;
}
.slider-bg {
	background: rgba(255, 255, 255, 0.918) url("../svg/Imgs/road.jpg");
	width: 100%;
	/* min-height: 800px; */
	background-position: center;
	background-size: cover;
	background-blend-mode: luminosity;
	clip-path: polygon(0 5%, 100% 0, 100% 95%, 0 100%);
	display: flex;
	justify-content: center;
}
